#container {
    background-image: url("images/bg0.jpg");
    width: 600px;
    height: 600px;
    border: 2px solid black; 
    position: relative; 
}

#img {
    padding-top: 67%;
    position: relative;
    left: 0;
    right: 0;
    float: right;
}

button {
    background-color: green;
}
